/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 200 to 900 */

/* .source-code-pro{ */
/*   font-family: "Source Code Pro", monospace; */
/*   font-optical-sizing: auto; */
/*   font-weight:300; */
/*   font-style: normal; */
/* } */

* {
  font-family: "Source Code Pro", monospace;
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  background-color: #222222;
  color: white;
  font-size: 17px;
}

html {
  scroll-behavior: smooth;
}

.nav-list {
  display: inline-block;
  float: left;
  margin-top: -10px;
  margin-left: -5px;
}

.nav-link {
  display: inline-block;
  padding: 3px;
  text-decoration: none;
  font-size: 15px
}

.nav-link::after {
  content: '';
  display: block;
  background-color: #1968a5;
  height: 2px;
  width: 0%;
  left: 0;
  bottom: 0;
  transition: all 0.2s ease
}

.nav-link:hover::after {
  width: 100%
}

.social-media {
  float: right;
  list-style: none;
  font-size:15px;
  margin-top: 0px;
}

ion-icon:hover {
  color: #1968a5
}

.fa-envelope:hover {
  color: #1968a5; 
}

.icon-for-me {
  height: 144px;
  width: 120px;
  margin-top: 60px;
  margin-left: -300px;
}

.say-hi {
  /* margin-top: 20px; */
  /* margin-left: 15px; */
  font-size: 40px;
  letter-spacing: 2px;
}

.simple-info {
}


.what-is-come-next {
  margin-top: 20px;

}

.strong-info {
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

.strong-info:hover {
  color: #1968a5
}

.strong-info::after {
  content: '';
  display: block;
  background-color: #1968a5;
  height: 3px;
  width: 100%;
  left:0;
  bottom: 0;
}

.wait-mssg {
  color: red;
  font-weight: bold;

}

hr {
  margin-top: 30px;
  margin-bottom: 40px
}

.section-list {
  list-style: "∙"
}


.section-link {
  text-decoration: underline;
  text-decoration-color: #1968a5;
  text-decoration-thickness: 2px;
  font-weight: bold;
}

.section-link:hover {
  color: #1968a5;
}

.follow-me {
  text-decoration: underline;
  text-decoration-color: #1968a5;
  text-decoration-thickness: 2px;
}

.follow-me:hover {
  color: #1968a5;
}

.section2 {
  margin-top: 60px;
}

.section2-list {
  margin-bottom: 20px;
}

.section2-title {
  margin-bottom: 20px;
  font-weight: bold
}

.section2-link {
  text-decoration: none;
  border: 1px solid white;
  padding: 3px;
}

.section2-link:hover {
  color: #1968a5;
}

.section2-link2 {
  text-decoration: none;
  margin-left: 0px
}

.section2-link2:hover {
  color: #1968a5;
}

.more-btn {
  text-decoration: underline;
  text-decoration-color: #1968a5;
  text-decoration-thickness: 2px;
}

.more-btn:hover {
  color: #1968a5;
}

/*this section for more info page styling*/

.more-info-box {
  height: 150px;
  width: 600px;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 9px solid #facc15;
  border-radius: 15px 50px;
 }

 .more-info-box-text {
  background-color: #facc15;
  color: #222222;
  font-weight: bold;
  font-style: italic;
 }

.board-text {
  display: block
}

.more-info-main-paragraph {
  max-width: 900px;
  background-color: #222222;
  /* border-left: 5px solid #0c5474; */
  padding: 5px;
}

.more-info-main-div {
  border-left: 5px solid #0c5474;
}

.hyperref-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-btn {
  text-decoration: none;
  border: 1px solid white;
  padding: 5px;
  border-bottom: 3px solid #1968a5;
  border-left: 3px solid #1968a5;
}

.section-btn:hover {
  color: #1e81b0
}

.highlighted-content {
  font-weight: bold;
  background-color: #3A3422;
  margin-left: 0px;
}

.sections-title {
  margin-top: 50px;
}

.main-paragraph-content {
  margin-left: 25px;
  border-left: 3px solid #0c5474;
  padding-left: 5px;
}

.list-caption {
  margin-left: 25px;
  border-left: 3px solid #0c5474;
  padding-left: 5px;
}

.framework-list {
  margin-left: 35px;
}

.scroll-btn {
  height: 40px;
  width: 40px;
  font-size: 60px;
  background-color: #222222;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
}

.scroll-btn:before {
  content: "˄"
}


/*the end of section*/

/*courses page section*/


.courses-container {
  border: 3px solid #FACC15;
  border-radius: 7px;
}

.courses-title {
  text-align: center;
}

.courses-desc {
  text-align: center;
}

.courses-desc-footer {
  text-align: center;
  font-weight: bold;
}

.courses-form { 
}

form {
  margin: 0 auto;
  width: 250px;
}

/* .cut-off { */
/*   --max-lines: 3; */
/*   --line-height: 1.7; */

/*   max-height: calc(var(--max-lines) * 1em * var(--line-height)); */
/*   line-height: var(--line-height); */

/*   overflow: hidden; */
/*   position: relative; */
/* } */

/* .cut-off:has(+ .expand-btn:not(:checked))::before { */
/*   content: ""; */
/*   position: absolute; */
/*   height: calc(1em * var(--line-height)); */
/*   width: 100%; */
/*   bottom: 0; */
/*   pointer-events: none; */
/*   background: linear-gradient(to bottom, transparent, #222222); */
/* } */

.expand-btn {
  appearance: none;
  background-color: #222222;
  /* border: 1px solid #3B82F6; */
  /* border-radius: .25em; */
  font-size: 30px;
  pointer-events: none;
  height: 20px;
}

.expand-btn::before {
  content: "↓";
}

/* .expand-btn:checked::before { */
/*   content: "˄" */
/* } */

/* .cut-off:has(+ .expand-btn:checked) { */
/*   max-height: none; */
/* } */

.grid-thing {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.courses-things {
  border: 3px solid #FACC15;
  border-radius: 7px;
}


/*End of section*/
